<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.emo.mapper.MoodlogMapper">
    <!--添加心情记录-->
    <insert id="addMoodlog" parameterType="com.emo.pojo.Moodlog">
        insert into emo.moodlog(id, title, concent, addtime) VALUES
        (#{id},#{title},#{concent},#{addtime})
    </insert>
    <!--更改心情记录-->
    <update id="updataMoodlog" parameterType="com.emo.pojo.Moodlog">
        update emo.moodlog set
        title=#{title},concent=#{concent},addtime=#{addtime}
        where id=#{id}
    </update>
    <!--删除心情记录-->
    <delete id="deleteMoodlod" parameterType="com.emo.pojo.Moodlog">
        delete from emo.moodlog
        where id=#{id}
    </delete>
    <select id="selectMoodlog" resultType="com.emo.pojo.Moodlog">
        select *from emo.moodlog
        limit #{page},#{limit}
    </select>
</mapper>